body{
background-color: #000;
color: #ccc;
}

.bubble {
  padding: 6px 12px;
  border-radius: 5px;
  word-break: break-word;
  text-align: left;
  animation: fadeIn .2s ease-in forwards;
}

.leon .bubble {
  color: orange;

}

.me .bubble {
  color: aqua;
  text-align: right;
}

#feed {
  height: 530px;
  overflow-y: auto;
  border: 0.5px solid #FFF;
  border-radius: 12px;
}
#feed::-webkit-scrollbar {
  width: 6px;
}
#feed::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 12px;
}

#mic-container {
  position: absolute;
  right: 0;
  margin-top: 38px;
}
button {
margin-left: -35px;
    margin-top: -80px;
  position: absolute;
  border: none;
  cursor: pointer;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #888;
  -webkit-mask-image: url(../img/mic.svg);
  mask-image: url(../img/mic.svg);
  transition: background-color .2s;
}
button:not(.enabled) {
    background:red
}
button:hover {
  background-color: #FFF;
}
button.enabled {
  background-color: #00E676;
}
button.enabled + #sonar {
margin-left: -35px;
    margin-top: -80px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  opacity: .3;
  background-color: #575757;
  pointer-events: none;
  animation: sonar 1.3s linear infinite;
}
@keyframes sonar {
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
input {
  text-align: center;
  color: #FFF;
  width: 100%;
  border: none;
  border-bottom: 2px solid #FFF;
  background: none;
  font-weight: 400;
  font-size: 1em;
}
#input-container {
  width: 100%;
  bottom: 25%;
}
input:focus {
    outline: none !important;
}